{
	"parser": "@typescript-eslint/parser",
	"plugins": [ "@typescript-eslint", "import" ],
	"ignorePatterns": [
		"node_modules/",
		"build/"
	],
	"extends": [
		"plugin:@typescript-eslint/recommended",
		"airbnb-typescript/base",
		"raven"
	],
	"parserOptions": {
		"project": "./tsconfig.json",
		"sourceType": "module"
	},
	"rules": {
		"@typescript-eslint/indent": [ "error", "tab" ],
		"@typescript-eslint/comma-dangle": [ "error", "never" ],
		"@typescript-eslint/space-before-function-paren": [ "error", "never" ],
		"indent": [ "error", "tab" ],
		"no-tabs": "off",
		"linebreak-style": "off",
		"max-classes-per-file": "off",
		"sort-keys": "off",
		"array-bracket-spacing": ["error", "always", {
			"singleValue": false
		}],
		"no-trailing-spaces": ["error", {
			"ignoreComments": true
		}],
		"lines-around-comment": ["warn", {
			"allowArrayStart": true
		}]
	},
	"env": {
		"browser": true,
		"node": true
	}
}
