/**
 * text color: rgb(239, 239, 239)
 * logo drop shadow: 0, 0, 1.6em rgba(0, 0, 0, 0.7)
 * logo fill: rgb(255, 255, 255)
 * body margins: 10px
 * body padding: 0
 */

/* https://csscomb.herokuapp.com/online */

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

body {
    overflow: hidden;
    padding: 0;
    margin: 0;
    animation: fade-in 1.5s ease-in-out;
    background-color: rgb(34 35 37 / 70%);
    color: var(--theme-color);
    font-family: Tahoma, 'Lucida Grande', Arial, sans-serif;
    pointer-events: none;
    user-select: none;

    --theme-color: rgb(229 229 229);
    --margin: 9px;

    a[href] {
        color: #58a6ff;
    }
    
    #client-logo {
        position: absolute;
        top: calc(50% - 0.9em);
        left: 50%;
        width: 63%;
        filter:
            drop-shadow(2px 2px 6px rgb(0 0 0 / 40%))
            drop-shadow(0 0 24px rgb(0 0 0 / 50%));
        transform: translate(-50%, -50%);
    }

    #client-info {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        min-height: 1.2em;
        padding: var(--margin);
        padding-top: calc(var(--margin) - 3px);
        border-top: rgb(255 255 255 / 15%) solid 1px;
        background-color: rgb(0 0 0 / 18%);
        box-shadow: 0 0 8px rgb(0 0 0 / 15%);
        font-size: 1.2em;

        > .update-holder:not(:empty)::before {
            content: "\2014  ";
        }
    }
}
